.block-slider {
  width: 100%;
  margin-bottom: 20px;

  .slider {
    .slick-list {
      .slider__list {
        position: relative;

        .slider__image {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .play {
          opacity: 0;
          visibility: hidden;
          width: 80px;
          height: 80px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all .3s ease-in-out;
          cursor: pointer;

          &:hover {
            opacity: .8;
            visibility: visible;
          }
        }
        .slider__image:hover + .play {
          opacity: .8;
          visibility: visible;
        }

      }
    }
    .slick-dots {
      bottom: 20px;

      li {
        background-color: #FFF;
        border-radius: 50%;
        opacity: .7;
        transition: all .3 ease-in-out;
        box-shadow: 0 0 10px rgba(0,0,0,.3);

        button {
          &::before {
            content: none;
          }
        }

        &.slick-active {
          opacity: 1;
        }
      }
    }
    // .slick-dots {
    //   height: 318px;
    //   bottom: -200px;
    //   box-shadow: 0 0 10px rgba(0,0,0,.3);
    //   width: 860px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   background-color: #FFF;

    //   li {
    //     width: 215px;
    //     height: 318px;
    //     margin: 0;

    //     .adot__link {
    //       width: 100%;
    //       height: 100%;
    //       img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         opacity: 0.5;
    //         transition: all .3s ease-in-out;
    //       }
    //     }

    //     &:hover {
    //       img {
    //         opacity: 1;
    //         box-shadow: 0 0 10px rgba(0,0,0,.3);
    //       }
    //     }

    //     &.slick-active {
    //       img {
    //         opacity: 1;
    //         box-shadow: 0 0 10px rgba(0,0,0,.3);
    //       }
    //     }
    //   }
    // }

    .slick-arrow {
      z-index: 2;

      &.slick-prev,
      &.slick-next {
        &::before {
          font-size: 50px;
        }
      }

      &.slick-prev {
        left: 50px;
      }

      &.slick-next {
        right: 50px;
      }
    }
  }
}
