@charset "utf-8";

@import "./reset";
@import "./mixin";
@import "./components/dropdown.scss";
@import "./components/button.scss";
.app {
}
@media only screen and (min-width: $breakpoint_sm) {
.filter-film {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  border-radius: 6px;
  height: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  max-width: 940px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;

  .select {
    min-width: 150px;
    flex-grow: 1;
    z-index: 10;
    margin-right: 10px;

    &:first-child {
      min-width: 282px;
      flex-grow: 2;
    }
  }

  .btn {
    flex-grow: 1;
    min-width: 150px;
    max-width: 150px;
    margin: 0;
    min-height: 40px;
    max-height: 40px;
    background-color: #fb4226;
    color: #FFF;
    font-weight: 500;

    &:hover {
      color: #FFF;
    }

    &.btn-disabled {
      background-color: #475365;
      pointer-events: none;

      &:hover {
        transform: none !important;
        cursor: default !important;
      }
    }
  }
}
}

@media only screen and (max-width: $breakpoint_sm - 1px) {
  .filter-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;

    .select {
      min-width: 150px;
      width: 100%;
      flex-grow: 1;
      margin-right: 0;
      margin-bottom: 8px;

      &:first-child {
        min-width: 282px;
        flex-grow: 2;
      }
    }

    .btn {
      flex-grow: 1;
      min-width: 150px;
      max-width: 150px;
      margin: 0;
      min-height: 40px;
      max-height: 40px;
      background-color: #fb4226;
      color: #FFF;
      font-weight: 500;

      &:hover {
        color: #FFF;
      }

      &.btn-disabled {
        background-color: #475365;
        pointer-events: none;

        &:hover {
          transform: none !important;
          cursor: default !important;
        }
      }
    }
  }
}

