.detail {
  .detail-slider {
    width: 100%;
    position: relative;
    .detail-image {
      img {
        width: 100%;
        height: auto;
        // filter: blur(5px);
      }
    }

    .detail-bg {
      background: linear-gradient(to top, #254167, transparent 100%);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .detail-slider__wrapper {
      position: absolute;
      top: 55%;
      left: 40%;
      transform: translate(-40%, -55%);
      display: flex;
      flex-direction: row;
      max-width: 870px;
    }

    .detail-slider__image {
      position: relative;

      .detail-slider__image__play {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      &:hover {
        .detail-slider__image__play {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .detail-slider__content {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .detail-slider__date {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }

      .detail-slider__name {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;
      }

      .detail-slider__time {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        font-weight: 500;
      }
    }
  }

  .detail-wrapper {
    background: #254167;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
  }
}

.tab-film {
  min-width: 800px;
  margin: 0 auto;

  .tab-film__header {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    .tab-film__header__item {
      border: none;
      background: transparent;
      font-size: 25px;
      font-weight: bold;
      color: #fff;

      &.react-tabs__tab--selected {
        color: #fb4226;
      }
    }
  }

  .tab-film__date {
    background-color: #fff;
    border-radius: 6px;
    max-height: 712px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .date-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      height: 90px;
      border-bottom: 1px solid #ccc;

      .date-list__item {
        width: 90px;
        height: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        span {
          &:nth-child(1) {
            font-size: 16px;
            font-weight: bold;
          }
          &:nth-child(2) {
            font-size: 20px;
          }
        }

        &.react-tabs__tab--selected {
          span {
            color: #fb4226;
          }
        }
      }
    }
  }

  .tab-film__theater {
    padding: 10px;
    .theater__item {
      position: relative;
      padding: 10px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        border-bottom: 1px solid #ccc;
        border-color: rgba(238, 238, 238, 0.88);
      }

      .theater__item__header {
        display: flex;
        flex-direction: row;

        .theater__item__image {
          img {
            width: 60px;
            height: 60px;
          }
        }

        .theater__item__film {
          margin-left: 20px;
          display: flex;
          flex-direction: column;

          span {
            &:nth-child(1) {
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }

      .theater__item__schedules {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        .theater__item__title {
        }

        .theater__item__schedules {
        }
      }
    }
  }

  .detail-tab-info {
    display: flex;
    flex-direction: row;
    width: 100%;

    .detail-info__info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex: 1;

      tr {
        height: 40px;
      }
      th {
        font-size: 18px;
      }
    }

    .detail-info__content {
      flex: 1;
      flex-grow: 1;

      &__title {
        font-weight: bold;
        font-size: 18px;
      }
    }
    &.react-tabs__tab-panel--selected {
      // height: 600px;
      border-radius: 6px;
      color: #fff;
    }
  }

  .tab-film__comment {
    max-width: 810px;
    margin: auto;
    padding-top: 40px;
    color: #e9e9e9;
    .comment-block {
      max-width: 580px;
      margin: auto;
      cursor: pointer;
      position: relative;

      .comment-block__image {
        position: absolute;
        top: 20%;
        left: 3%;
        img {
          width: 36px;
          height: 36px;
          border-radius: 25px;
        }
      }
      input {
        padding: 10px 10px 10px 55px;
        width: 100%;
        height: 60px;
        border-radius: 6px;
        border: 1px solid #e8e8e9;
        background-color: #fff;
        color: #9b9b9b;
        font-size: 14px;
        pointer-events: none;
      }
      .comment-block__rate {
        position: absolute;
        top: 30%;
        right: 3%;
        img {
          width: auto;
          height: 24px;
        }
      }
    }
  }

  .card-comment {
    max-width: 580px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto 0;

    .card-comment__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-comment__user {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        span {
          margin-left: 10px;
          color: #4a4a4a;
        }
      }

      .card-comment__rate {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .card-comment__content {
      p {
        background-color: transparent;
        padding: 20px 0;
        font-size: 14px;
        color: #4a4a4a;
        margin: 0;
      }
    }

  }
}
