.detail {
  .detail-slider {
    width: 100%;
    position: relative;
    .detail-image {
      img {
        width: 100%;
        height: auto;
        // filter: blur(5px);
      }
    }

    .detail-bg {
      background: linear-gradient(to top, #254167, transparent 100%);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .detail-slider__wrapper {
      position: absolute;
      top: 55%;
      left: 40%;
      transform: translate(-40%, -55%);
      display: flex;
      flex-direction: row;
      max-width: 870px;
    }

    .detail-slider__image {
      position: relative;

      .detail-slider__image__play {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      &:hover {
        .detail-slider__image__play {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .detail-slider__content {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .detail-slider__date {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }

      .detail-slider__name {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;
      }

      .detail-slider__time {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        font-weight: 500;
      }

      .detail-slider__rates {
        font-size: 26px;
        background-color: rgba(12,27,54,.8);
        border: 1px solid #1f2e46;
        border-radius: 4px;
        padding: 2px;
        margin-top: 20px;
        color: #fff;
        width: 100px;
        text-align: center;
        line-height: 1.1;
        display: flex;
        flex-direction: column;

        span {
          &:first-child {
            text-align: center;
            transform: scaleY(1.2);
          }
        }

        &>div {
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  .detail-wrapper {
    background: #254167;
    display: flex;
    padding-bottom: 40px;
    align-items: center;
  }
}

.tab-detail {
  min-width: 630px;
  margin: 0 auto;


  .tab-detail__header {
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    .tab-detail__header__item {
      border: none;
      background: transparent;
      font-size: 25px;
      font-weight: bold;
      color: #fff;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.react-tabs__tab--selected {
        color: #fb4226;
      }
    }
  }

  .tab-detail__date {
    background-color: #fff;
    border-radius: 6px;
    max-height: 712px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.react-tabs__tab-panel--selected {
      height: calc(100% - 90px);

      .tab-detail__theater.react-tabs__tab-panel--selected {
        min-height: 300px;
      }
    }

    .date-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      height: 90px;
      border-bottom: 1px solid #ccc;
      margin: 0;

      .date-list__item {
        width: 90px;
        height: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3 ease-in-out;
        color: rgba(#000, 0.5);

        span {
          &:nth-child(1) {
            font-size: 16px;
            font-weight: bold;
          }
          &:nth-child(2) {
            font-size: 20px;
          }
        }

        &.date-list__item-show {
          color: #000;
        }

        &.react-tabs__tab--selected {
          opacity: 1;
          span {
            color: #fb4226;
          }
        }
      }
    }

    .tab-detail__date-list {
      height: 100%;
    }
  }

  .tab-detail__theater {
    &.react-tabs__tab-panel--selected {
      height: calc(100% - 90px);
      &>div {
        height: 100%;
        overflow-y: scroll;
        &>p {
          font-size: 26px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .theater__item {
      position: relative;
      margin: 20px;
      padding-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        border-bottom: 1px solid #ccc;
        border-color: rgba(238, 238, 238, 0.88);
      }

      .theater__item__header {
        display: flex;
        flex-direction: row;

        .theater__item__image {
          img {
            width: 60px;
            height: 60px;
          }
        }

        .theater__item__film {
          margin-left: 20px;
          display: flex;
          flex-direction: column;

          span {
            &:nth-child(1) {
              font-size: 20px;
              font-weight: 500;
            }
          }
        }
      }

      .theater__item__schedules {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        .theater__item__title {
        }

        .theater__item__schedules {
        }
      }
    }
  }

  .detail-tab-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 720px;

    .detail-info__info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex: 1;

      tr {
        height: 40px;
      }
      th {
        font-size: 18px;
      }
    }

    .detail-info__content {
      flex: 1;
      flex-grow: 1;

      &__title {
        font-weight: bold;
        font-size: 18px;
      }
    }
    &.react-tabs__tab-panel--selected {
      // height: 600px;
      border-radius: 6px;
      color: #fff;
    }
  }

  .tab-detail__comment {
    max-width: 810px;
    margin: auto;
    color: #e9e9e9;
    .comment-block {
      max-width: 580px;
      margin: auto;
      cursor: pointer;
      position: relative;

      .comment-block__image {
        position: absolute;
        top: 20%;
        left: 3%;
        img {
          width: 36px;
          height: 36px;
          border-radius: 25px;
        }
      }
      input {
        padding: 10px 10px 10px 55px;
        width: 100%;
        height: 60px;
        border-radius: 6px;
        border: 1px solid #e8e8e9;
        background-color: #fff;
        color: #9b9b9b;
        font-size: 14px;
        pointer-events: none;
      }
      .comment-block__rate {
        position: absolute;
        top: 30%;
        right: 3%;
        img {
          width: auto;
          height: 24px;
        }
      }
    }

    .tab-detail__comment__more {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 14px;
        color: #949494;
        border: 1px solid #949494;
        border-radius: 4px;
        text-align: center;
        background: 0 0;
        padding: 7px 25px;
        transition: all .2s;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 20px;
        display: block;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: #fb4226;
          border-color: #fb4226;
          color: #fff!important;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .card-comment {
    max-width: 580px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto 0;

    .card-comment__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-comment__user {
        display: flex;
        flex-direction: row;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .card-comment__user__content {
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          span {
            color: #4a4a4a;

            &:not(:last-child) {
              margin-bottom: 4px;
            }

            &:last-child {
              font-size: 12px;
            }
          }
        }
      }

      .card-comment__rate {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 20px;
          height: 20px;

          &.image-half{
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .card-comment__content {
      p {
        background-color: transparent;
        padding: 10px 0;
        font-size: 14px;
        color: #4a4a4a;
        margin: 0;
      }
    }

  }
}


  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
