.layout-detail__theater {
  display: flex;
  padding: 20px;
  background-color: #fff;
}

.layout-ddt {
  display: flex;
  flex-direction: column;
  width: 100%;

  .layout-ddt__header {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    background-color: #FFF;
    align-items: center;
    justify-content: center;

    .layout-ddt__header__item {
      font-size: 25px;
      font-weight: bold;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .layout-ddt__content.react-tabs__tab-panel--selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .layout-ddt__content-btn {
      margin-top: 20px;
      width: 200px;
      margin-bottom: 10px;
    }
  }
}

.theater-detail {
  display: flex;
  flex-direction: column;
  max-width: 800px;

  .theater-detail__edit {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .theater-detail__content {
    margin-top: 20px;

    .theater-content__item  {
      display: flex;
      flex-direction: row;
      label {
        width: 200px;
        font-size: 20px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &.theater-content__name {
        font-weight: 500;
      }

      &.theater-content__image {
        .theater-content__image__image {
          display: flex;
          flex-direction: column;

          img {
            margin-bottom: 5px;
          }
        }
      }

      &.theater-content__rooms {

        .theater-content__rooms__list {
          display: flex;
          flex-direction: column;
          min-width: 200px;

          &__item {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }

          a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            padding-left: 0;
            display: block;
            text-decoration: none;
            color: #000;
            &:hover {
              color: #1C78C7;
            }
          }
        }
      }
    }
  }
}