.booking {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 10px;

  .booking-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .booking-content__header {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .booking-content__threater {

        &__name {
          font-size: 20px;
          font-weight: 500;
        }
        &__room {
          font-size: 16px;
        }
      }
    }
    .booking-content__screen {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
    .booking-content__list-seats {
      display: flex;
      flex-direction: column;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .booking-content__des {
      display: flex;
      margin-top: 20px;

      .type-seat {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .booking-form {
    width: 100%;
    padding: 20px 10px 20px;
    background-color: #fff;

    .booking-form__input {
      padding: 10px 0;
      border-bottom: 1px dashed #e9e9e9;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    .booking-form__total {
      font-size: 26px;
      color: #44c020;
      font-weight: 500;
      text-align: center;
    }

    .booking-form__film-name {
      .booking-form__name {
        font-size: 16px;
        font-weight: 500;
      }
      .booking-form__threater,
      .booking-form__address {
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }
    }

    .booking-form__seats {
      height: 45px;
      color: #fb4226;
      font-weight: 500;
    }

    .booking-form__email {
      p {
        font-size: 14px;
        color: #333;
        margin: 0;
      }

      input {
        border: none;
        background: transparent;
        width: 100%;
        height: 40px;
        &:focus {
          outline: none;
        }
      }
    }

    .booking-form__phone {
      p {
        font-size: 14px;
        color: #333;
        margin: 0;
      }

      input {
        border: none;
        background: transparent;
        width: 100%;
        height: 40px;
        &:focus {
          outline: none;
        }
      }
    }

    .booking-form__payment {
      p {
        font-size: 14px;
        color: #333;
        margin: 0;
      }
    }

    .booking-form-btn {
      width: 100%;
      height: 60px;
      border: none;
      background: rgba( #44c020, 0.8);
      box-shadow: 0 0 6px rgba(0,0,0,.3);
      border-radius: 6px;
      font-size: 30px;
      font-weight: 500;
      color: #E9F2F7;
      transition: all .3 ease-in-out;

      &:not(.booking-form-btn--disabled):hover {
        transform: scale(1.05);
      }
      &.booking-form-btn--disabled {
        background-color: #BDBDBD;
        pointer-events: none;
      }
    }
  }
}

.row-seat {
  display: inline-flex;
}

.seat-wrapper {
  display: inline-flex;

  &.seat-wrapper--hide {
    pointer-events: none;
  }

  &.seat-wrapper--none {
    height: 15px;
    min-width: 22px;
    margin: 2px;
  }



  &.seat-wrapper--isBuy {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border: 2px solid red;
      width: 26px;
      height: 19px;
      left: 0px;
      top: -1px;
      border-radius: 6px;
    }

    &.seat-wrapper--two1 {
      &::before {
        border-right-color: transparent;
        left: 0;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    &.seat-wrapper--two2 {
      &::before {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-left-color: transparent;
        left: 0;

      }
    }
  }

  .seat {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 22px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    border-bottom: 4px solid;
    border-left: 4px solid;
    border-right: 4px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #3e515d;

    .s-img {
      height: 10px;
      width: 12px;
      font-size: 14px;
      color: #FFF;
      font-style: normal;
      background-color: #3e515d;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.seat--selected {
      border-color: #fb4226 !important;
      .s-img {
        background-color: #fb4226 !important;
      }
    }

    &.seat--name {
      margin-right: 10px;
      border: none;
    }

    &.seat--vip {
      border-color: #f7b500;
      .s-img {
        background-color: #f7b500;
      }
    }

    &.seat--hide {
      border-color: rgb(231, 234, 236);
      cursor: default;

      .s-img {
        background-color: rgb(231, 234, 236);
      }
    }

    &.seat--together {
      border-color: #701010;
      .s-img {
        background-color: #701010;
      }
    }
  }
}

.group-radio {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .radio-form {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
    }
    input {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    label {
      img {
        width: 40px;
        height: auto;
      }
    }
  }
}

::-webkit-scrollbar {
  height: 5px;
  background-color: #ebebec;
}
::-webkit-scrollbar-thumb {
  background-color: silver;
}
