.btn {
  width: 100%;
  height: 40px;
  color: #FFF;
  border-radius: 6px;

  &.btn--default {
    background: linear-gradient(to left,#fb4226,#ce3017 100%);
    transition: all 0.3 ease-in-out;

    &:hover {
      background: #fb4226;
      color: #FFF;
    }
  }
}
