
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.login {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/bg-login.jpg');
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-background {
    position: relative;
    --border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 348px;
    min-height: 404px;
    border-radius: 6px;
    padding: 3px;

    .login-form {
      background-color: #FFFFFF;
      width: 100%;
      // height: 100%;
      border-radius: 6px;
      background: linear-gradient(to bottom,rgba(20,50,93,.9),rgba(8,22,48,.9));
      z-index: 1;
      padding: 20px;

      .login-form__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        img {
          width: 209px;
          height: auto;
        }
      }

      .login-form__groups {
        display: flex;
        flex-direction: column;

        .login-form__groups__title {
          color: #FFF;
          text-align: center;
        }
        .groups-btn {
          display: flex;
          flex-direction: column;

          .btn {
            height: 52px;
            border-radius: 6px;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transform: scale(1);
            transition: all .3s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }

            &.btn-facebook {
              background-color: #3B5998;

              &:hover {
                background-color: rgba( #3B5998, .9)
              }
            }
            &.btn-google {
              background-color: #dd4b39;

              &:hover {
                background-color: rgba( #dd4b39, .9)
              }
            }
            &.btn-zalo {
              background-color: #45bbff;

              &:hover {
                background-color: rgba( #45bbff, .9)
              }
            }
          }
        }
      }
    }

    .login-animation {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 6px;
      animation: moveGradient 4s alternate infinite;
    }
  }
}
