.item-new {
    margin-bottom: 10px;
    a {
        display: flex;
        cursor: pointer;
        .item-new__image {
            width: 50px;
            height: 50px;
            border-radius: 4px;
        }
        .item-new__title {
            height: 45px;
            width: calc(100% - 80px);
            margin: 0 0 10px 10px;  
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0.7;
            font-size: 14px;
            &:hover {
                color: #fb4226;
            }
        }
    }
}