.card-new {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .card-new__thumbnail {
    margin: 10px;
    width: 100%;

    .thumbnail__image {
      width: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .thumbnail__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
      height: 42px;
      font-size: 18px;
      font-weight: 500;
      transition: color .2s;
      margin-bottom: 5px;
    }

    .thumbnail__content {
      text-align: justify;
      font-size: 13px;
      color: #4a4a4a;
      padding: 0 5px 0 0;
      line-height: 19px;
      letter-spacing: .17;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 55px;
      margin-bottom: 15px;
    }

    &:hover {
      .thumbnail__title {
        color: #fa5238;
      }
    }
  }
}
