#footer{
  position: fixed;
  bottom: 0;
}


a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

a {
  font-size: 11px;
}
a, img:hover{
  background-color: gray;
  margin: 1px solid black;
}

.footer__icon:hover {
  opacity: .7;
  cursor: pointer;
}
.footer__icon__up {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.footer__icon__down{
  border-radius: 50%;
  height: 60px;
  width: auto;
  margin-right: 10px;
}

.footer__title {
  font-weight: bold;
}

.footer__address {
  font-size: 12px;
}

@media (max-height:800px){
	footer { position: static; }
}

@media (max-width: 880px) {
  .footer__right,
  .footer__center,
  .footer__left
  {
		display: block;
		width: 50%;
		margin-bottom: 20px;
		text-align: center;
	}

}

@media (max-width: 590px){
  .hideOnMobile1 {
      display: none!important;
  }
  }

@media (max-width: 576px){
.hideOnMobile2 {
    display: none!important;
  }
}



