.home {
  display: flex;
  flex-direction: row;

  .home-left {
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  .home-right {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
}
