.create-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
  max-width: 840px;

  .create-new__list {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .form-control {
      label {
        min-width: 200px;
        max-width: 200px;
        font-size: 20px;
        font-weight: 500;
      }

      input:not([type='file']) {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
        }
      }

    }

    .create-new__title {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }

    .card-addnew {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 20px;
      }

      .card-addnew__form-text,
      .card-addnew__form-image {
        display: flex;
        flex-direction: row;
      }

      .card-addnew__form-text {
        margin-bottom: 6px;
      }
    }

  }

  .create-new__submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .btn {
      font-size: 14px;
      color: #CADEF9;
      border: 1px solid #949494;
      border-radius: 4px;
      text-align: center;
      background: 0 0;
      padding: 7px 25px;
      transition: all .2s;
      margin: auto;
      margin-top: 35px;
      margin-bottom: 20px;
      display: block;
      transition: all .3s ease-in-out;
      color: #000;
      box-shadow: 0 0 10px rgba(0,0,0,.3);

      &:hover {
        background-color: #fb4226;
        border-color: #fb4226;
        color: #fff!important;
      }

      &:focus {
        outline: none;
      }
    }

    .btn-add-new {
      position: absolute;
      top:-20px;
      right: 0;
      border: 2px solid #2196F3;
      border-radius: 6px;
      transition: all .3 ease-in-out;
      box-shadow: 0 0 8px rgba(0,0,0,.3);

      &:hover {
        background-color: #fff;
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}