.create-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
  max-width: 840px;
  overflow: scroll;

  &.new-detail {
    max-width: 100%;
    height: 100%;

    .create-new__submit {
      padding: 0 20px;

      .btn-add-new {
        right: 20px;
      }
    }

    .new-detail__edit {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .create-new__list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .create-new__title {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }

    .card-addnew {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 20px;
      }

      .card-addnew__form-text,
      .card-addnew__form-image {
        display: flex;
        flex-direction: row;
      }

      .card-addnew__form-text {
        display: flex;
        flex-direction: row;
        margin-bottom: 6px;
      }

      .card-addnew__form-image {

        .group-img {
          display: flex;
          flex-direction: column;
        }
        img {
          margin-bottom: 5px;
          width: 250px;
          height: auto;
        }
      }
    }

  }

  .create-new__submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .btn-add-new {
      position: absolute;
      top:-20px;
      right: 0;
      border: 2px solid #2196F3;
      border-radius: 6px;
      transition: all .3 ease-in-out;
      box-shadow: 0 0 8px rgba(0,0,0,.3);

      &:hover {
        background-color: #fff;
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}